# Visualización de datos

## Introducción a la Visualización de datos y a las distribuciones

### Introducción a la visualización de datos

Raras veces es útil mirar los números y las cadenas de caracteres que definen un set de datos. Para confirmar esto, observemos la tabla de datos de asesinatos de Estados Unidos:

In [2]:
library(dslabs)
data(murders)
head(murders)

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

Es bastante difícil extraer información relevante simplemente mirando los números.
En cambio, dicha información podemos mostrarla fácilmente disponibles al presentarla en forma gráfica.

La visualización de datos ofrece una forma muy efectiva de comunicar hallazgos basados en datos. En algunos casos, la visualización es tan convincente que no requiere un análisis de seguimiento.

#### Tipos de variables

Los dos tipos principales de variables son:

* Categóricas: son variables definidas por un pequeño número de grupos.
    *  Ordinales: se pueden ordenar aunque no sean números, por ejemplo cuán picante es una comida (poco,
medio, muy)
    * No ordinales: no tienen orden en las categorías.
* Datos numéricos: toman una variedad de valores numéricos.
    * Continuas: pueden tomar cualquier valor.
    * Discretas: se limitan a conjuntos de valores específicos.